@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Slab";
	  font-style: normal;
}



*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
  text-align: center;
    min-height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    background-color: #000;
}

.wrapper {
    text-align: center;
    height: 500px;
}

.overlay-back {
    background-image: url('https://ucarecdn.com/477d07d2-dc5f-49a7-93f5-41c74430317d/plantcopy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
  background: rgba(14, 193, 254, 0.7);
  border: 0.5px dotted rgb(14, 193, 254);
  width: 52%;
  height: 90%;
  border-radius: 50%;
  margin: auto;
  z-index: -1;
  padding-top: 11%;
}

/* Clip text element */
.clip-text {
  position: relative;
  font-size: 5.7em;
  font-weight: bold;
  line-height: 1;
  margin: 1em .25em 0 .25em;
  text-align: center;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trans-circle {
  background-image: url('https://ucarecdn.com/64c9aa11-6223-49d7-9224-6c9f4a6008c2/girlworkingcopy.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 430px;
  background-repeat: no-repeat;
  z-index: -1000;
  margin-left: -20%;
  margin-top: 10%;
  display: inline-flex;
}


#trans-circle {
  background-image: url('http://unsplash.it/1200x800');
  background-attachment: fixed;
  background-size: contain;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  z-index: -1000;
  display: inline-flex;
}

.trans-sm-circle {
  background-image: url('http://unsplash.it/1200x800');
  background-attachment: fixed;
  width: 25px;
  height: 25px;
  background-size: contain;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-flex;
  float: right;
}

.trans-sm-circle1 {
  background-image: url('http://unsplash.it/1200x800');
  background-attachment: fixed;
  width: 50px;
  height: 50px;
  top: 17%;
  left: 14%;
  background-size: contain;
  border-radius: 50%;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-flex;
  float: right;
}

.trans-sm-circle2 {
  background-image: url('http://unsplash.it/1200x800');
  background-attachment: fixed;
  width: 10px;
  height: 10px;
  top: 20%;
  background-size: contain;
  left: 12%;
  border-radius: 50%;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-flex;
  float: right;
}

.trans-sm-circle3 {
  background-image: url('http://unsplash.it/1200x800');
  background-attachment: fixed;
  width: 20px;
  height: 20px;
  top: 40%;
  left: 17%;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-flex;
  float: right;
}

.trans-sm-circle4 {
  background-image: url('http://unsplash.it/1200x800');
  background-attachment: fixed;
  width: 42px;
  height: 42px;
  background-size: contain;
  top: 29%;
  left: 10%;
  border-radius: 50%;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-flex;
  float: right;
}

.layer {
  position: fixed;
}

.moveableA, .moveableU {
  position: absolute;
  font-size: 14px;
  color: black;
}


h1.amanda > a {
  opacity: 0.8;
  background-position: center;
  color: aqua;
  padding: 30% 25%;
  font-size: 14px;
  top: -24em;
  position: relative;
  border: solid 1px white;
  border-radius: 5%;
}
h1.urban > a {
  opacity: 0.8;
  background-position: center;
  color: aqua;
  padding: 28% 30%;
  font-size: 14px;
  top: -22em;
  left: -5em;
  position: relative;
  border: solid 1px white;
  border-radius: 5%;
  background-image: url('https://media.giphy.com/media/3ohjUUKp9MmP52Ax9K/giphy.gif');
}

.amandas {
  opacity: 1;
  background-color: transparent;
}


h1.amanda > a {
  background-image: url('https://media.giphy.com/media/l1JohQD0rwBlJVkFq/giphy.gif');
  opacity: 1;
  top: -22em;
  right: 15em;
}

h1.urban > a:hover, h1.amanda > a:hover {
  transition-duration: 1s, 1.3s;
  color: hotpink;
  font-weight: bold;
  background-color: blue;
}

h1.amanda > a:hover {
  background-color: blue;
}

h1.urban, h1.amanda {
  color: #F794BB;
  text-decoration: none;
}

h1.urban:hover, h1.amanda:hover {
  color: hotpink;
  transition-duration: 1s;
}


@keyframes ani {
  from {height: 0%; width: 0%;}
  to {height: 100%; width: 100%;}
}

p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes changeLetter {
  0% {
    content: "Foftware Engineer";
  }
  5% {
    content: "Frftware Engineer";
  }
  12% {
    content: "Frotware Engineer";
  }
  18% {
    content: "Fronware Engineer";
  }
  24% {
    content: "Frontare Engineer";
  }
  30% {
    content: "Frontere Engineer";
  }
  36% {
    content: "Frontene Engineer";
  }
  42% {
    content: "Frontend Engineer";
  }
  54% {
    content: "Srontend Engineer";
  }
  60%{
    content: "Soontend Engineer";
  }
  66%{
    content: "Sofntend Engineer";
  }
  72%{
    content: "Softtend Engineer";
  }
  78%{
    content: "Softwend Engineer";
  }
  84%{
    content: "Softwand Engineer";
  }
  90%{
    content: "Softward Engineer";
  }
  96%{
    content: "Software Engineer";
  }
  100% {
    content: "Software Engineer";
  }
}

p::after {
  animation: changeLetter 5s linear infinite;
}
.title {
    font-size: 25px;
    position: relative;
    margin: 0 auto 1em;
    padding: 1em 1em .25em 1em;
    text-align: center;
    text-decoration: none;
}
.title:after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 240px;
    height: 4px;
    margin-left: -120px;
    content: '';
    background-color: #fff;
    text-decoration: none;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #fff;

    z-index: 2000;
}

.clip-text--no-textzone:before {
    background-position: -.65em 0;
}

.clip-text--no-textzone:after {
    content: none;
}

.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
  background-position: 50% 50%;
}

.clip-text_one {
    background-image: url('http://unsplash.it/1200x800');
    background-blend-mode: overlay;
    background-color: rgba(255,255,255, 0.8);
}

.parallax {
    padding-top: 14%;
    min-height: 703px;
    vertical-align: middle;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: #fff;
}

.parallax3 {
     background-color: #fff;
     padding: 19% 5%;
     padding-right: 5%;
}

.parallax-two {
   padding-top: 11%;
   background-image: url('https://ucarecdn.com/477d07d2-dc5f-49a7-93f5-41c74430317d/plantcopy.jpg');
   min-height: 703px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}

.breaker {
   width: 100%;
   font-size: 20px;
   max-height: 25px;
   text-align: center;
}

#heart {
  display: none;
}
.heart:hover .emo { display: none; }
.heart:hover #heart { display: inline; }


.heart:hover, .frameworks:hover {
  transition-duration: 1s;
  color: hotpink;
}

.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
}

.shadow {
  box-shadow: 0px 0px 5px 0px #bbbbbb;
}

nav {
  bottom: 0px;
	position: absolute;
	width: 100%;
	height: 10%;
	background: #000;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
  text-decoration: none;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  letter-spacing: 2.5px;
  transition: .4s;
}

nav li a:hover {
  color:rgba(117, 117, 117, 0.55);
}

.about {
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 0.7em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 200s;
}

.aboutme {
  letter-spacing: 1.5px;
  color: #F794BB;
  margin-top: 1.3em;
  max-width: 300px;
  margin: auto;
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  text-align: left;
}

.intro {
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 7px;
  float: left;
}

.container{
  text-align: left;
  position: absolute;
  background-color: #fff;
  max-height: 500px;
  max-width: 700px;
  padding: 7% 7%;
  top: 135%;
  left: 40%;
  right: 15%;
  display: inline-flex;
}


.footer {
  text-align: center;
  clear: both;
  font: 10pt verdana;
  line-height: 0.5em;
  height: 70px;
  width: 100%;
  padding-bottom: 5%;
  background-color: black;
  margin-top: 1%;
}

.copyright {
  padding-top: -1%;
  padding-bottom: 1%;
}

.projects {
  color: rgb(231, 136, 174);
  font-size: 19px;
  color: #F794BB;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 1.3em;
  font-weight: 700;
}

.about-projects {
  color: #F794BB;
  margin-top: 1.3em;
  margin: auto;
  font-size: 30px;
  display: inline-block;
  font-weight: 200;
  line-height: 40px;
  text-align: center;
  height: 40%;
  padding: 10% 10%;
  width: 80%;
  background-color: #fff;
}

.contact {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 1.3em;
  font-weight: 700;
  width: 500px;
  height: 500px;
  margin:auto;
  border-radius: 50%;
  padding-top: 13%;
}

.contacts {
  width: 600px;
  height: 550px;
  margin:auto;
  margin-bottom: 10%;
  background-color: rgba(242,148,180, 0.6);
  border-radius: 0.5px solid rgba(255, 90, 176, 0.8);
}

.closingspan {
  margin-top: 50px;
  padding: 3% 0%;
}

.fa {
  margin: 30px 14px;
}

a {
  color: #eee;
}

.fa-twitter {
  padding: 11px 13px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: rgba(50, 47, 48, 0.44);
  border-radius: 50%;
}
.fa-twitter:hover {
    background-color: rgba(0, 172, 237, 0.54);
;
}

.fa-linkedin {
    padding:11px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.44);
    border-radius: 50%;
}
.fa-linkedin:hover {
    background-color: rgba(0, 115, 164, 0.73);
}

.fa-medium {
    padding:11px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.44);
    border-radius: 50%;
}
.fa-medium:hover {
    background-color: rgba(226, 87, 20, 0.78);
}

.fa-github-alt {
    padding:11px 13px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.44);
    border-radius: 50%;
}
.fa-github-alt:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.fa {
  font-size: 1.8em;
}

.top-container {
  margin: 0 5%;
  position: relative;
  display: flex;
  z-index: 1;
  margin-top: -10%;
  justify-content: space-between;
}

.closing {
  position: relative;
  margin-top: -60%;
  margin-left: 25%;
  max-width: 300px;
  height: 300px;
  padding: 9% 5% 13% 5%;
  font-weight: 200;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  background-color: rgba(189, 242, 156, 0.6);
}

.animatable {
  /* initially hide animatable objects */
  visibility: hidden;

  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.myself {
    background-image: url('https://ucarecdn.com/aa7fbbc9-19e2-41de-adbf-45198873789e/me.jpg');
    background-repeat: no-repeat;
    margin: auto;
    position: absolute;
    top:74%;
    right: 2%;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* show objects being animated */
.animated {
  visibility: visible;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes bounceInRight {
  0% {
    padding: 0;
		opacity: 0;
	}
	100% {
    padding: 40%, 35%;
		opacity: 1;
	}
}

@-o-keyframes bounceInRight {
  0% {
    padding: 0;
		opacity: 0;
	}

	100% {
    padding: 40%, 35%;
		opacity: 1;
	}
}

@keyframes bounceInRight {
  0% {
    padding: 0;
		opacity: 0;
	}

	100% {
    padding: 40%, 35%;
		opacity: 1;
	}
}


@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}



@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@media (min-width: 2000px){
  .clip-text {
    font-size: 12em;
  }
  p {
    font-size: 50px;
  }
  .fa {
    font-size: 2em;
  }
  nav li {
    padding: 15px 40px;
    font-size: 30px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 450px) {
  .container {
    top: 110%;
  }
  .myself {
    top: 83%;
    height: 75px;
    width: 75px;
  }
  h1.amanda > a {
    top: -5em;
  }
  h1.urban > a {
    top: -35em;
  }
}
